.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #ffcc00;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #ffcc00;
}

#album{
	color: rgb(242, 242, 242);
	font-style: normal;
    font-size: 60px;
    font-family: "TeX Gyre Adventor";
}

#artist{
	
    color: rgb(242, 242, 242);
	font-style: normal;
    font-size: 40px;
    font-family: "TeX Gyre Adventor";
}

img{
	float: left
     border-radius: 5px;
     height: 300px;
     width: 300px;
 
 }
 
 .info {
	 float: right;
	 width:1000px;
  color: rgb(242, 242, 242);
	font-style: normal;
    font-size: 23px;
    font-family: "TeX Gyre Adventor";
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color:#454140;
  border-radius: 5px;
}


.info:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.info {
  padding: 4px 16px;
}
